
@model AulaModel

@{
    ViewData["Title"] = "Editar Aula";
}

<h2>Editar Aula</h2>

<form method="post" asp-action="Editar" asp-controller="Aulas" enctype="multipart/form-data">
    <div>
        <label for="Nome" class="label-branco">Nome da Aula</label>
        <input type="text" id="nome" name="Nome" class="form-control" required>
    </div>

    <div>
        <label for="Descricao" class="label-branco">Descrição da Aula</label>
        <textarea id="descricao" name="Descricao" class="form-control" required></textarea>
    </div>
    <div>
        <label for="VideoUrl" class="label-branco">URL do Vídeo</label>
        <input type="url" id="videoUrl" name="VideoUrl" class="form-control" required>
    </div>
    <div>
        <label for="dataProgramada" class="label-branco">Data Programada</label>
        <input type="date" id="dataProgramada" name="DataProgramada" class="form-control" required>
    </div>
    <div>
        <label for="Capa" class="label-branco">Capa da Aula</label>
        <input type="file" id="capa" name="foto" class="form-control" accept="img/*" required>
    </div>

    <div class="d-flex mt-3">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

