<div class="tabs-container">
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1A9jqIH4Q7yx4QqMf91dhnruAH2Nwz8Sr/view?usp=sharing">
            <div class="tab-bg">
                <img src="imagem/dicas.png" alt="Dicas">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="/Aulas/Index">
            <div class="tab-bg">
                <img src="imagem/desafio.png" alt="Curso">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1VerQBZMjNsQBFucoyIYHR-5jVxXPdMgb/view?usp=sharing">
            <div class="tab-bg">
                <img src="imagem/sobre.png" alt="Sobre">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1JcV5Flx4-dWHm0-_z_nc9YhctBz8mXnB/preview">
            <div class="tab-bg">
                <img src="imagem/card1.png" alt="cardapio">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1Le5cHFCsfk7__TInL0DWbjy7WwqEd7h1/preview">
            <div class="tab-bg">
                <img src="imagem/card2.png" alt="cardapio">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1ySAGFtZ5KRG2SBnHdCEUhPC9K2jdaRw7/preview">
            <div class="tab-bg">
                <img src="imagem/card3.png" alt="cardapio">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1prxx7TMkOQ9K3WAp7PRmDsyJvC0qMqPg/preview">
            <div class="tab-bg">
                <img src="imagem/suco.png" alt="suco detox">
            </div>
        </a>
    </div>
    <div class="tab-item">
        <a href="https://drive.google.com/file/d/1FSKHQYaRepALPE2c4v00hXf_IRajfR6N/preview">
            <div class="tab-bg">
                <img src="imagem/livro.png" alt="livro receita">
            </div>
        </a>
    </div>
</div>
